:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  color: #000000;
  padding: 2rem;
  @media (prefers-color-scheme: dark) {
    background-color: #1a1a1a;
    color: #ffffff;
  }
}
